body{
    margin: 10 px;
    padding: 5px;
    background-color: aquamarine;
    border: 1px solid black;
}
#cv-heading {
font-size: 50px;
border: 1px solid black;
text-align: center;
border-width: 10px;
}